@model DRD.Models.Skill

@{
    ViewData["Title"] = "Smazat";
}

<h1 class="text-center">@Html.DisplayFor(model => model.Name)</h1>

<div>
    <hr />
    <dl class="row characterCard">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Atribut)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Atribut)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Seriousness)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Seriousness)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Verification)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Verification)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalSuccess)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalSuccess)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Success)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Success)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Failure)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Failure)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FatalFailure)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FatalFailure)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />

        <div class="btn-group">
			<input type="submit" value="Smazat" class="btn btn-danger" /> |
            <a asp-action="Index" class="btn btn-dark">Zpět</a>
        </div>

        
    </form>
</div>
