@model DnDV4.Models.Skill

@{
    ViewData["Title"] = @Html.DisplayFor(model => model.Name);
}

    <hr />
    <dl class="row characterCard">
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Atribut)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Atribut)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Seriousness)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Seriousness)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Verification)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Verification)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalSuccess)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalSuccess)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Success)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Success)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Failure)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Failure)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FatalFailure)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FatalFailure)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
<div class="btn-group">
    <a class="btn btn-success" asp-action="Edit" asp-route-id="@Model?.Id">Upravit</a> |
    <a class="btn btn-dark" asp-action="Index">Zpět</a>
</div>
