@model IEnumerable<DRD.Models.Skill>

@{
    ViewData["Title"] = "Seznam Dovedností";
}
<p>
    <a class="btn btn-success" asp-action="Create">Nová dovednost</a>
</p>
<table class="table characterCard">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Atribut)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Seriousness)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Verification)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalSuccess)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Success)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Failure)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FatalFailure)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Atribut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Seriousness)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Verification)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalSuccess)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Success)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Failure)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FatalFailure)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <div class="btn-group-vertical ">
                        <a class="btn btn-dark" asp-action="Edit" asp-route-id="@item.Id">Upravit</a>
                        <a class="btn btn-dark" asp-action="Details" asp-route-id="@item.Id">Detail</a>
                        <a class="btn btn-dark" asp-action="Delete" asp-route-id="@item.Id">Smazat</a>
                </div>
                
            </td>
        </tr>
}
    </tbody>
</table>
