@model DRD.Models.Profession

@{
    ViewData["Title"] = "Podrobnosti";
}

<div>
    <dl class="row characterCard">
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Mana)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Mana)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Hp)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Hp)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.HpBonus)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.HpBonus)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Strength)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Strength)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Agility)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Agility)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Constitution)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Constitution)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Intelligence)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Intelligence)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Charisma)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Charisma)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Upravit</a> |
    <a asp-action="Index" class="btn btn-primary">Zpět</a>
</div>
