@model IEnumerable<DnDV4.Models.Weapon>

@{
    ViewData["Title"] = "Zbraňe";
}



<div>
    <a asp-action="Create" class="text-decoration-none btn btn-dark">Vytvoř novou zbraň</a>
</div>
<table class="table characterCard flex-nowrap">
    <thead>
        <tr>
            <th></th>
            <th>
				Popis
            </th>
            <th>
                Hodnty
            </th>
            <th>
                Ovladatelnost
            </th>
            <th>
                Kovářství
            </th>
            <th>
                Váha/Cana
            </th>
            <th>
                Třídy
            </th>
            <th>
                Dostřel M/S/D
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {

            <tr>
				<td>
					<button class="btn-group-vertical btn btn-light ">
                        <a class="text-black text-decoration-none " asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <a class="text-black text-decoration-none " asp-action="Details" asp-route-id="@item.Id">Details</a>
                        <a class="text-black text-decoration-none " asp-action="Delete" asp-route-id="@item.Id">Delete</a>
					</button>
                    
                </td>
                <td>
                    <p>@Html.DisplayFor(modelItem => item.NameWeapon)</p>
                    <p>@Html.DisplayFor(modelItem => item.NickName)</p>
                </td>

                <td>
                    <p>@Html.DisplayFor(modelItem => item.SZ) + @Html.DisplayFor(modelItem => item.UT) + @Html.DisplayFor(modelItem => item.OZ)</p>
                    <p>ini :@Html.DisplayFor(modelItem => item.InitiativeWeapon) </p>
                    <p>Délka zbraně: @Html.DisplayFor(modelItem => item.LengthWeapon)</p>
                </td>
                <td>
                    <p>@Html.DisplayFor(modelItem => item.ControlAttribute)</p>
                    <p>Min: @Html.DisplayFor(modelItem => item.MinimalControllability)</p>
                </td>
                <td>
                    <p>@Html.DisplayFor(modelItem => item.Manufacturer)</p>
                    <p>@Html.DisplayFor(modelItem => item.ManufacturerBonus)</p>
                    <p>@Html.DisplayFor(modelItem => item.Metal)</p>

                </td>
                <td>
                    <p>Cena: @Html.DisplayFor(modelItem => item.Price)</p>
                    <p>Váha: @Html.DisplayFor(modelItem => item.WeightWeapon)</p>

                </td>
                <td>
                    <p>@Html.DisplayFor(modelItem => item.ClassWeapon)</p>
                    <p>@Html.DisplayFor(modelItem => item.SizeWeapon)</p>
                    <p>@Html.DisplayFor(modelItem => item.TypeWeapon)</p>

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MinGunshot)/@Html.DisplayFor(modelItem => item.MiddleGunshot)/@Html.DisplayFor(modelItem => item.MaxGunshot)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Demon)
                </td>

            </tr>
}
    </tbody>
</table>
