@model DnDV4.Models.Character

@{
    ViewData["Title"] = "Tvorba postavy";
}

<hr />

<div class="row characterCard">

    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="col-md-6">
                <img class=" img-fluid" src="@Url.Content(Model.Race.ImagePath)" />
            </div>

            <div class="col-md-6">
                <!--vložit obrázek povolání,až bude k dispozici-->
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
					<h2><label asp-for="CharacterName" class="control-label"></label></h2>
                    <input asp-for="CharacterName" class="form-control" />
                    <span asp-validation-for="CharacterName" class="text-danger"></span>
                </div>

                <div class="form-group">
					<h2><label asp-for="CharacterOrigin" class="control-label"></label></h2>
                    <textarea asp-for="CharacterOrigin" class="form-control"></textarea>
                    <span asp-validation-for="CharacterOrigin" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <h2><label asp-for="CharacterLevel" class="control-label"></label></h2>
                    <input asp-for="CharacterLevel" class="form-control" />
                </div>

                <div class="form-group">
                    <input asp-for="RaceId" class="form-control" value="@Model.RaceId" hidden  />
                    <input asp-for="ProfessionId" class="form-control" value="@Model.ProfessionId" hidden />
                </div>

            </div>

            <div class="col-md-6">
                <div slider="slider" class="form-group">
					<h2><label asp-for="Strength_current" class="control-label"></label></h2>
                    <input asp-for="Strength_current" type="range" min="@Model.Strength" max="@Model.Strength_Max" sliderinput="" class="slider" />
					<span class=" fs-3 fw-bolder"><output slideroutput=""></output></span>
                </div>

                <div slider="slider" class="form-group">
					<h2><label asp-for="Agility_current" class="control-label"></label></h2>
                    <input asp-for="Agility_current" type="range" min="@Model.Agility" max="@Model.Agility_Max" sliderinput="" class="slider" />
                    <span class=" fs-3 fw-bolder"><output slideroutput=""></output></span>
                </div>

                <div slider="slider" class="form-group">
					<h2><label asp-for="Constitution_current" class="control-label"></label></h2>
                    <input asp-for="Constitution_current" type="range" min="@Model.Constitution" max="@Model.Constitution_Max" sliderinput="" class="slider" />
                    <span class=" fs-3 fw-bolder"><output slideroutput=""></output></span>
                </div>

                <div slider="slider" class="form-group">
                    <h2><label asp-for="Intelligence_current" class="control-label"></label></h2>
                    <input asp-for="Intelligence_current" type="range" min="@Model.Intelligence" max="@Model.Intelligence_Max" sliderinput="" class="slider" />
                    <span class=" fs-3 fw-bolder"><output slideroutput=""></output></span>
                </div>

                <div slider="slider" class="form-group">
                    <h2><label asp-for="Charisma_current" class="control-label"></label></h2>
                    <input asp-for="Charisma_current" type="range" min="@Model.Charisma" max="@Model.Charisma_Max" sliderinput="" class="slider" />
                    <span class=" fs-3 fw-bolder"><output slideroutput=""></output></span>
                </div>
            </div>
        </div>
        <div class="row">
            <input type="submit" value="Vytvoř" class="btn btn-outline-dark fw-bolder" />
            <a asp-action="Index" class="btn btn-outline-dark fw-bolder ">Zpět</a>
        </div>
            
    </form>
</div>

<script>
    window.onload = function () {
        let values = document.querySelectorAll("[slideroutput]");
        let inputs = document.querySelectorAll("[sliderinput]");
        for (let i = 0; i < values.length; i++) {
            let value = values[i];
            let input = inputs[i];

            value.textContent = input.value;

            input.addEventListener("input", (event) => {
                value.textContent = event.target.value;
            });

        }
    }
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
