@model DnDV4.Models.Character

@{
    ViewData["Title"] = "Deník";
}


<div class="container-fluid text-center">

    <div class="row characterCard">
        <div class=" col-12 border tabulka">
            <div class="row">
                <div class="col-4"><h3>@Html.DisplayFor(model => model.CharacterName)</h3></div>
                <div class="col-4"><h5>@Html.DisplayFor(model => model.Race.RaceName)</h5></div>
                <div class="col-4"><h5>@Html.DisplayFor(model => model.Profession.Name)</h5></div>
            </div>
            

            <div class="row">
				<div class="col-4 ">
					<img src="@Url.Content(Model.Race.ImagePath)" class="img-fluid" />
				</div>

				<div class="col-8 ">
                    <p class="text-start">@Html.DisplayNameFor(model => model.CharacterOrigin): @Html.DisplayFor(model => model.CharacterOrigin)</p>
                    <div class="row">
                        <div class="col-6">
                            <h3 class="text-start">@Html.DisplayNameFor(model => model.Hp): @Html.DisplayFor(model => model.Hp)</h3>
                        </div>
                        <div class="col-6">
                            <h3 class="text-start">@Html.DisplayNameFor(model => model.CharacterLevel): @Html.DisplayFor(model => model.CharacterLevel)</h3>
                        </div>
                    </div>
				</div>

            </div>
           
        </div>
    </div>

    <div class="row characterCard">
        <!--atributy-->
        <div class="col-sm-6 col-xl-4">
        <br/>
            <!--Síla-->
            <div class="row ">
                <div class="col-3 col-sm-5 col-md-3 col-xl-3">
                    <div>
                       
                        <a class="text-decoration-none" asp-controller="CharacterSkills" asp-action="Index"
                           asp-route-CharacterId="@Model?.Id"
                           asp-route-Atribut="@AtributEnum.strength">
                            <div class="atribut-ramecek">
                                <h6 class="atribut">@Html.DisplayNameFor(model => model.Strength_current)</h6>
                                <p class="vlastnost">@Html.DisplayFor(model => model.Strength_current)</p>
                                <p class="bonus">@Html.DisplayFor(model => model.Strength_bonus)</p>
                            </div>
                        </a>
                    </div>
                </div>

                <!--Dovednosti na Sílu-->
                <div class="col-9 col-sm-7 col-md-9 col-xl-9 text-start">
                    <ul>
                        <!--class="list-unstyled"-->
                        @{
                            foreach(var item in ViewBag.Dengerousness_Strength)
                            
                            {
                                <li>
                                    <div class="dropdown">
                                        <button class=" dropdown-toggle " type="button"
                                                data-bs-toggle="dropdown" aria-expanded="false">
                                            <span class="text-wrap">@item.Skill.Name</span>
                                        </button>

                                        <ul class="dropdown-menu bg-secondary " style="font-size:normal">
                                            <li>
                                                <h6>Minimální hod 1k10</h6>
                                            </li>

                                            <li>Základní nebezpečnost: @item.Dangerousness</li>
                                            <li>Znalost :@item.Rank</li>
                                            @{
                                                string fatal = "";
                                                string neuspech = "";
                                                string uspech = "";
                                                string tuspech = "";

                                                if ((-6 + @item.Dangerousness - Model.Strength_bonus) >= 0)
                                                    fatal = string.Format("Fatál: 0 až {0}",-6 + @item.Dangerousness - Model.Strength_bonus);

                                                if((@item.Dangerousness - Model.Strength_bonus)>0)
                                                    neuspech = string.Format("Neúspech: {0} až {1}",(-6 +1+ @item.Dangerousness - Model.Strength_bonus ),(item.Dangerousness - Model.Strength_bonus - 1));

                                                 if((@item.Dangerousness - Model.Strength_bonus) <= 0)
                                                    uspech = "Automatický úspěch";
                                                 else if ((@item.Dangerousness - Model.Strength_bonus) <= 10)
                                                    uspech = string.Format("Úspech: {0} až {1}", (item.Dangerousness - Model.Strength_bonus), (6 - 1 + @item.Dangerousness - Model.Strength_bonus));
                                                else uspech = "";

                                                if((@item.Dangerousness+6 - Model.Strength_bonus) <= 0)
                                                    tuspech = "Automatický totál";
                                                else if((@item.Dangerousness+6 - Model.Strength_bonus) <= 10)
                                                    tuspech = string.Format("Totál: {0} +",(6 + @item.Dangerousness - Model.Strength_bonus));
                                                else tuspech = "";  
                                            }
                                            
                                            <li>@fatal</li>
                                            <li>@neuspech</li>
                                            <li>@uspech</li>
                                            <li>@tuspech</li> 
                                        </ul>
                                    </div>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
            <!--Obratnost-->
            <div class="row ">
                <div class="col-3 col-sm-5 col-md-3 col-xl-3">
                    <div>
                        <a class="text-decoration-none" asp-controller="CharacterSkills" asp-action="Index"
                           asp-route-CharacterId="@Model?.Id"
                           asp-route-Atribut="@AtributEnum.agility">
                            <div class="atribut-ramecek">
                                <h6 class="atribut">@Html.DisplayNameFor(model => model.Agility_current)</h6>
                                <p class="vlastnost">@Html.DisplayFor(model => model.Agility_current)</p>
                                <p class="bonus">@Html.DisplayFor(model => model.Agility_bonus)</p>
                            </div>
                        </a>
                    </div>
                </div>
                <!--Dovednosti na Obratnost-->
                <div class="col-9 col-sm-7 col-md-9 col-xl-9 text-start">
                    <ul>
                        <!--class="list-unstyled"-->
                        @{
                            foreach(var item in ViewBag.Dengerousness_Agility)

                            {
                                <li>
                                    <div class="dropdown">
                                        <button class=" dropdown-toggle " type="button"
                                                data-bs-toggle="dropdown" aria-expanded="false">
                                            <span class="text-wrap">@item.Skill.Name</span>
                                        </button>

                                        <ul class="dropdown-menu bg-secondary " style="font-size:normal">
                                            <li>
                                                <h6>Minimální hod 1k10</h6>
                                            </li>

                                            <li>Základní nebezpečnost: @item.Dangerousness</li>
                                            <li>Znalost :@item.Rank</li>
                                            @{
                                                string fatal = "";
                                                string neuspech = "";
                                                string uspech = "";
                                                string tuspech = "";

                                                if((-6 + @item.Dangerousness - Model.Strength_bonus) >= 0)
                                                    fatal = string.Format("Fatál: 0 až {0}",-6 + @item.Dangerousness - Model.Strength_bonus);

                                                if((@item.Dangerousness - Model.Strength_bonus) > 0)
                                                    neuspech = string.Format("Neúspech: {0} až {1}",(-6 + 1 + @item.Dangerousness - Model.Strength_bonus),(item.Dangerousness - Model.Strength_bonus - 1));

                                                if((@item.Dangerousness - Model.Strength_bonus) <= 0)
                                                    uspech = "Automatický úspěch";
                                                else if((@item.Dangerousness - Model.Strength_bonus) <= 10)
                                                    uspech = string.Format("Úspech: {0} až {1}",(item.Dangerousness - Model.Strength_bonus),(6 - 1 + @item.Dangerousness - Model.Strength_bonus));
                                                else uspech = "";

                                                if((@item.Dangerousness + 6 - Model.Strength_bonus) <= 0)
                                                    tuspech = "Automatický totál";
                                                else if((@item.Dangerousness + 6 - Model.Strength_bonus) <= 10)
                                                    tuspech = string.Format("Totál: {0} +",(6 + @item.Dangerousness - Model.Strength_bonus));
                                                else tuspech = "";
                                            }

                                            <li>@fatal</li>
                                            <li>@neuspech</li>
                                            <li>@uspech</li>
                                            <li>@tuspech</li>
                                        </ul>
                                    </div>
                                </li>
                            }
                        }
                    </ul>
                </div>

            </div>
            <!--Odolnost-->
            <div class="row ">
                <div class="col-3 col-sm-5 col-md-3 col-xl-3">
                    <div>
                        <a class="text-decoration-none" asp-controller="CharacterSkills" asp-action="Index"
                           asp-route-CharacterId="@Model?.Id"
                           asp-route-Atribut="@AtributEnum.constitution">
                            <div class="atribut-ramecek">
                                <h6 class="atribut">@Html.DisplayNameFor(model => model.Constitution_current)</h6>
                                <p class="vlastnost">@Html.DisplayFor(model => model.Constitution_current)</p>
                                <p class="bonus">@Html.DisplayFor(model => model.Constitution_bonus)</p>
                            </div>
                        </a>
                    </div>
                </div>
                <!--Dovednosti na Odolnost-->
                <div class="col-9 col-sm-7 col-md-9 col-xl-9 text-start">
                    <ul>
                        <!--class="list-unstyled"-->
                        @{
                            foreach(var item in ViewBag.Dengerousness_Constitution)
                            {
                                <li>
                                    <div class="dropdown">
                                        <button class=" dropdown-toggle " type="button"
                                                data-bs-toggle="dropdown" aria-expanded="false">
                                            <span class="text-wrap">@item.Skill.Name</span>
                                        </button>

                                        <ul class="dropdown-menu bg-secondary " style="font-size:normal">
                                            <li>
                                                <h6>Minimální hod 1k10</h6>
                                            </li>

                                            <li>Základní nebezpečnost: @item.Dangerousness</li>
                                            <li>Znalost :@item.Rank</li>
                                            @{
                                                string fatal = "";
                                                string neuspech = "";
                                                string uspech = "";
                                                string tuspech = "";

                                                if((-6 + @item.Dangerousness - Model.Strength_bonus) >= 0)
                                                    fatal = string.Format("Fatál: 0 až {0}",-6 + @item.Dangerousness - Model.Strength_bonus);

                                                if((@item.Dangerousness - Model.Strength_bonus) > 0)
                                                    neuspech = string.Format("Neúspech: {0} až {1}",(-6 + 1 + @item.Dangerousness - Model.Strength_bonus),(item.Dangerousness - Model.Strength_bonus - 1));

                                                if((@item.Dangerousness - Model.Strength_bonus) <= 0)
                                                    uspech = "Automatický úspěch";
                                                else if((@item.Dangerousness - Model.Strength_bonus) <= 10)
                                                    uspech = string.Format("Úspech: {0} až {1}",(item.Dangerousness - Model.Strength_bonus),(6 - 1 + @item.Dangerousness - Model.Strength_bonus));
                                                else uspech = "";

                                                if((@item.Dangerousness + 6 - Model.Strength_bonus) <= 0)
                                                    tuspech = "Automatický totál";
                                                else if((@item.Dangerousness + 6 - Model.Strength_bonus) <= 10)
                                                    tuspech = string.Format("Totál: {0} +",(6 + @item.Dangerousness - Model.Strength_bonus));
                                                else tuspech = "";
                                            }

                                            <li>@fatal</li>
                                            <li>@neuspech</li>
                                            <li>@uspech</li>
                                            <li>@tuspech</li>
                                        </ul>
                                    </div>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
            <!--Inteligence-->
            <div class="row ">
                <div class="col-3 col-sm-5 col-md-3 col-xl-3">
                    <div>
                        <a class="text-decoration-none" asp-controller="CharacterSkills" asp-action="Index"
                           asp-route-CharacterId="@Model?.Id"
                           asp-route-Atribut="@AtributEnum.intelligence">
                            <div class="atribut-ramecek">
                                <h6 class="atribut">@Html.DisplayNameFor(model => model.Intelligence_current)</h6>
                                <p class="vlastnost">@Html.DisplayFor(model => model.Intelligence_current)</p>
                                <p class="bonus">@Html.DisplayFor(model => model.Intelligence_bonus)</p>
                            </div>
                        </a>
                    </div>
                </div>

                <!--Dovednosti na Inteligence-->
                <div class="col-9 col-sm-7 col-md-9 col-xl-9 text-start">
                    <ul>
                        <!--class="list-unstyled"-->
                        @{
                            foreach(var item in ViewBag.Dengerousness_Intelligence)
                            {
                                <li>
                                    <div class="dropdown">
                                        <button class=" dropdown-toggle " type="button"
                                                data-bs-toggle="dropdown" aria-expanded="false">
                                            <span class="text-wrap">@item.Skill.Name</span>
                                        </button>
                                        <ul class="dropdown-menu bg-secondary " style="font-size:normal">
                                            <li>
                                                <h6>Minimální hod 1k10</h6>
                                            </li>

                                            <li>Základní nebezpečnost: @item.Dangerousness</li>
                                            <li>Znalost :@item.Rank</li>
                                            @{
                                                string fatal = "";
                                                string neuspech = "";
                                                string uspech = "";
                                                string tuspech = "";

                                                if((-6 + @item.Dangerousness - Model.Strength_bonus) >= 0)
                                                    fatal = string.Format("Fatál: 0 až {0}",-6 + @item.Dangerousness - Model.Strength_bonus);

                                                if((@item.Dangerousness - Model.Strength_bonus) > 0)
                                                    neuspech = string.Format("Neúspech: {0} až {1}",(-6 + 1 + @item.Dangerousness - Model.Strength_bonus),(item.Dangerousness - Model.Strength_bonus - 1));

                                                if((@item.Dangerousness - Model.Strength_bonus) <= 0)
                                                    uspech = "Automatický úspěch";
                                                else if((@item.Dangerousness - Model.Strength_bonus) <= 10)
                                                    uspech = string.Format("Úspech: {0} až {1}",(item.Dangerousness - Model.Strength_bonus),(6 - 1 + @item.Dangerousness - Model.Strength_bonus));
                                                else uspech = "";

                                                if((@item.Dangerousness + 6 - Model.Strength_bonus) <= 0)
                                                    tuspech = "Automatický totál";
                                                else if((@item.Dangerousness + 6 - Model.Strength_bonus) <= 10)
                                                    tuspech = string.Format("Totál: {0} +",(6 + @item.Dangerousness - Model.Strength_bonus));
                                                else tuspech = "";
                                            }

                                            <li>@fatal</li>
                                            <li>@neuspech</li>
                                            <li>@uspech</li>
                                            <li>@tuspech</li>
                                        </ul>
                                    </div>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
            <!--Charisma-->
            <div class="row ">
                <div class="col-3 col-sm-5 col-md-3 col-xl-3">
                    <div>
                        <a class="text-decoration-none" asp-controller="CharacterSkills" asp-action="Index"
                           asp-route-CharacterId="@Model?.Id"
                           asp-route-Atribut="@AtributEnum.charisma">
                            <div class="atribut-ramecek">
                                <h6 class="atribut">@Html.DisplayNameFor(model => model.Charisma_current)</h6>
                                <p class="vlastnost">@Html.DisplayFor(model => model.Charisma_current)</p>
                                <p class="bonus">@Html.DisplayFor(model => model.Charisma_bonus)</p>
                            </div>
                        </a>
                    </div>
                </div>

                <!--Dovednosti na Charisma-->
                <div class="col-9 col-sm-7 col-md-9 col-xl-9 text-start">
                    <ul>
                        <!--class="list-unstyled"-->
                        @{
                            foreach(var item in ViewBag.Dengerousness_Charisma)
                            {
                                <li>
                                    <div class="dropdown">
                                        <button class="dropdown-toggle " type="button"
                                                data-bs-toggle="dropdown" aria-expanded="false">
                                            <span class="text-wrap">@item.Skill.Name</span>
                                        </button>

                                        <ul class="dropdown-menu bg-secondary " style="font-size:normal">
                                            <li>
                                                <h6>Minimální hod 1k10</h6>
                                            </li>

                                            <li>Základní nebezpečnost: @item.Dangerousness</li>
                                            <li>Znalost :@item.Rank</li>
                                            @{
                                                string fatal = "";
                                                string neuspech = "";
                                                string uspech = "";
                                                string tuspech = "";

                                                if((-6 + @item.Dangerousness - Model.Strength_bonus) >= 0)
                                                    fatal = string.Format("Fatál: 0 až {0}",-6 + @item.Dangerousness - Model.Strength_bonus);

                                                if((@item.Dangerousness - Model.Strength_bonus) > 0)
                                                    neuspech = string.Format("Neúspech: {0} až {1}",(-6 + 1 + @item.Dangerousness - Model.Strength_bonus),(item.Dangerousness - Model.Strength_bonus - 1));

                                                if((@item.Dangerousness - Model.Strength_bonus) <= 0)
                                                    uspech = "Automatický úspěch";
                                                else if((@item.Dangerousness - Model.Strength_bonus) <= 10)
                                                    uspech = string.Format("Úspech: {0} až {1}",(item.Dangerousness - Model.Strength_bonus),(6 - 1 + @item.Dangerousness - Model.Strength_bonus));
                                                else uspech = "";

                                                if((@item.Dangerousness + 6 - Model.Strength_bonus) <= 0)
                                                    tuspech = "Automatický totál";
                                                else if((@item.Dangerousness + 6 - Model.Strength_bonus) <= 10)
                                                    tuspech = string.Format("Totál: {0} +",(6 + @item.Dangerousness - Model.Strength_bonus));
                                                else tuspech = "";
                                            }

                                            <li>@fatal</li>
                                            <li>@neuspech</li>
                                            <li>@uspech</li>
                                            <li>@tuspech</li>
                                        </ul>
                                    </div>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
            <!--Pohyblivost-->
            <div class="row ">
                <div class="col-3 col-sm-5 col-md-3 col-xl-3">
                    <div>
                        <a class="text-decoration-none" asp-controller="CharacterSkills" asp-action="Index"
                           asp-route-CharacterId="@Model?.Id"
                           asp-route-Atribut="@AtributEnum.mobility">
                            <div class="atribut-ramecek">
                                <h6 class="atribut">@Html.DisplayNameFor(model => model.Mobility)</h6>
                                <p class="vlastnost">@Html.DisplayFor(model => model.Mobility)</p>
                                <p class="bonus">@Html.DisplayFor(model => model.Mobility_bonus)</p>
                            </div>
                        </a>
                    </div>
                </div>

                <!--Dovednosti na Pohyblivost-->
                <div class="col-9 col-sm-7 col-md-9 col-xl-9 text-start">
                    <ul>
                        <!--class="list-unstyled"-->
                        @{
                            foreach(var item in ViewBag.Dengerousness_Mobility)
                            {
                                <li>
                                    <div class="dropdown">
                                        <button class=" dropdown-toggle " type="button"
                                                data-bs-toggle="dropdown" aria-expanded="false">
                                            <span class="text-wrap">@item.Skill.Name</span>
                                        </button>

                                        <ul class="dropdown-menu bg-secondary " style="font-size:normal">
                                            <li>
                                                <h6>Minimální hod 1k10</h6>
                                            </li>

                                            <li>Základní nebezpečnost: @item.Dangerousness</li>
                                            <li>Znalost :@item.Rank</li>
                                            @{
                                                string fatal = "";
                                                string neuspech = "";
                                                string uspech = "";
                                                string tuspech = "";

                                                if((-6 + @item.Dangerousness - Model.Strength_bonus) >= 0)
                                                    fatal = string.Format("Fatál: 0 až {0}",-6 + @item.Dangerousness - Model.Strength_bonus);

                                                if((@item.Dangerousness - Model.Strength_bonus) > 0)
                                                    neuspech = string.Format("Neúspech: {0} až {1}",(-6 + 1 + @item.Dangerousness - Model.Strength_bonus),(item.Dangerousness - Model.Strength_bonus - 1));

                                                if((@item.Dangerousness - Model.Strength_bonus) <= 0)
                                                    uspech = "Automatický úspěch";
                                                else if((@item.Dangerousness - Model.Strength_bonus) <= 10)
                                                    uspech = string.Format("Úspech: {0} až {1}",(item.Dangerousness - Model.Strength_bonus),(6 - 1 + @item.Dangerousness - Model.Strength_bonus));
                                                else uspech = "";

                                                if((@item.Dangerousness + 6 - Model.Strength_bonus) <= 0)
                                                    tuspech = "Automatický totál";
                                                else if((@item.Dangerousness + 6 - Model.Strength_bonus) <= 10)
                                                    tuspech = string.Format("Totál: {0} +",(6 + @item.Dangerousness - Model.Strength_bonus));
                                                else tuspech = "";
                                            }

                                            <li>@fatal</li>
                                            <li>@neuspech</li>
                                            <li>@uspech</li>
                                            <li>@tuspech</li>
                                        </ul>
                                    </div>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </div>

		<!--zbrane-->
        <div class="col-sm-6 col-xl-4 border ">
            <a class="text-decoration-none btn btn-dark" asp-controller="CharacterWeapons" asp-action="Index"
                           asp-route-CharacterId="@Model?.Id">Zbraně</a>
            @{
                foreach(var weaponClass in ViewBag.WeaponsFilterClass)
                {
                    switch(weaponClass)
                    {
                        //jednoruční
                        case WeaponClassEnum.oneHanded:
                        {
                            <div>
                                <table class="table">
                                    <thead>
										<h4>Jednoruční zbraně</h4>
                                        <tr>
                                            <th>Jmeno</th>
                                            <th>Úč</th>
                                            <th>út</th>
                                            <th>Oč</th>
                                            <th>ini</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            foreach(var item in ViewBag.WeaponsList)
                                            {
                                                if(item.Weapon.ClassWeapon == WeaponClassEnum.oneHanded)
                                                {
                                                    <tr>
                                                        <td>@item.Weapon.NameWeapon</td>
                                                        <td>@item.AtackNr</td>
                                                        <td>@item.DemageNr</td>
                                                        <td>@item.DefenseNr</td>
                                                        <td>@item.Weapon.InitiativeWeapon</td>
                                                    </tr>
                                                }
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        }
                        break;
                        //obouruční
                        case WeaponClassEnum.twoHanded:
                        {
                            <div>
                                <table class="table">
                                    <thead>
										<h4>Obouruční zbraně</h4>
                                        <tr>
                                            <th>Jmeno</th>
                                            <th>Úč</th>
                                            <th>út</th>
                                            <th>Oč</th>
                                            <th>ini</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            foreach(var item in ViewBag.WeaponsList)
                                            {
                                                if(item.Weapon.ClassWeapon == WeaponClassEnum.twoHanded)
                                                {
                                                    <tr>
                                                        <td>@item.Weapon.NameWeapon</td>
                                                        <td>@item.AtackNr</td>
                                                        <td>@item.DemageNr</td>
                                                        <td>@item.DefenseNr</td>
                                                        <td>@item.Weapon.InitiativeWeapon</td>
                                                    </tr>
                                                }
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        }
                        break;
                        //střelné/vrhcí
                        case WeaponClassEnum.firearm:
                        case WeaponClassEnum.throwing:
                        {
                            <div>
                                <table class="table">
                                    <thead>
										<h4>Střelné a vrhací zbraně</h4>
                                        <tr>
                                            <th>Název</th>
                                            <th>Úč</th>
                                            <th>út</th>
                                            <th colspan="3">Dostřel</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            foreach(var item in ViewBag.WeaponsList)
                                            {
                                                if(item.Weapon.ClassWeapon == WeaponClassEnum.firearm || item.Weapon.ClassWeapon == WeaponClassEnum.throwing)
                                                {
                                                    <tr>
                                                        <td>@item.Weapon.NameWeapon</td>
                                                        <td>@item.AtackNr</td>
                                                        <td>@item.DemageNr</td>
                                                        <td class="text-bg-danger">@item.Weapon.MinGunshot</td>
                                                        <td class="text-bg-danger">@item.Weapon.MiddleGunshot</td>
                                                        <td class="text-bg-danger">@item.Weapon.MaxGunshot</td>
                                                    </tr>
                                                }
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        }
                        break;
                        //boj beze zbraně
                        case WeaponClassEnum.contact:
                        {
                            <div>
                                <table class="table">
                                    <thead>
										<h4>Boj beze zbraně</h4>
                                        <tr>
                                            <th>Jmeno</th>
                                            <th>Úč</th>
                                            <th>út</th>
                                            <th>Oč</th>
                                            <th>ini</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            foreach(var item in ViewBag.WeaponsList)
                                            {
                                                if(item.Weapon.ClassWeapon == WeaponClassEnum.contact)
                                                {
                                                    <tr>
                                                        <td>@item.Weapon.NameWeapon</td>
                                                        <td>@item.AtackNr</td>
                                                        <td>@item.DemageNr</td>
                                                        <td>@item.DefenseNr</td>
                                                        <td>@item.Weapon.InitiativeWeapon</td>
                                                    </tr>
                                                }
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        }
                        break;

                        default:
                        {}
                        break;
                    }
                }
            }         
        </div>

        <!--Kouzla - zatím bez hodnot-->
        <div class="col-sm-12 col-xl-4 border ">
            <h3>Kouzla</h3>

        </div>
    </div>
</div>
