@model IEnumerable<DnDV4.Models.Race>

@{
    ViewData["Title"] = "Vyber Rasu";
}



<table class="table characterCard">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.RaceName)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Strength)
            </th>
            <th>
               
            </th>
        </tr>
    </thead>

    

    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                
                <td>
                    @Html.DisplayFor(modelItem => item.RaceName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Strength) - @Html.DisplayFor(modelItem => item.Strength_Max)
                </td>

                <td>
                    <a asp-action="IndexPovolani" class="btn btn-dark" asp-route-id="@item.Id">Vyber</a>
                </td>
            </tr>
        }
    </tbody>
</table>
